.btn {
  padding: 0 16px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-family: Fredoka, sans-serif;
  color: #f47499;
  border: 2px solid #fde8f1;
  border-radius: 8px;
  background: #fde8f1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background: #f47499;
  color: #fde8f1;
  border: 2px solid #fde8f1;
}

.redoBtn {
  font-size: 22px;
  padding: 0 10px;
}
