.btn {
  padding: 0 16px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-family: Fredoka, sans-serif;
  color: #2a68b2;
  border: 2px solid #2a68b2;
  border-radius: 8px;
  background: #aadbf6;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background: #2a68b2;
  color: #aee1fe;
  border: 2px solid #aee1fe;
}

.redoBtn {
  font-size: 22px;
  padding: 0 10px;
}

.startBtn {
  border: 2px solid #2a68b2;
  background: #fffaf2;
  box-shadow: 0px 4px 4px rgba(255, 250, 242, 1);
}

.startBtn:hover {
  box-shadow: 0px -0px 0px rgba(0, 0, 0, 1);
  border-color: #2a68b2;
}